@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";
@import "swiper/css/navigation";

@font-face {
  font-family: "Blanka Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Blanka Regular"), url("/Blanka-Regular.woff") format("woff");
}

:root {
  --background: rgb(24, 24, 24);
  --blanka: "Blanka Regular";
}

@theme inline {
  --color-background: var(--background);
  --font-blanka: var(--blanka);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-noto-sans: var(--font-noto-sans);
  --text-xxs: 0.625rem;
}

body {
  background-color: var(--background);
  color: white;
}

.scrollable::-webkit-scrollbar {
  height: 0;
}
