@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";
@import "swiper/css/navigation";
@import "swiper/css/effect-fade";
@import "swiper/css/free-mode";

@font-face {
  font-family: "Blanka Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Blanka Regular"), url("/Blanka-Regular.woff") format("woff");
}

html::selection {
  background-color: rgb(30, 30, 30);
  color: var(--accent-one);
}

:root {
  --background: rgb(0, 0, 0);
  --blanka: "Blanka Regular";
  --accent-one: rgb(43, 127, 255);
  --hero-padding-b: 8.75rem;
  --hero-padding-b-sm: 3.75rem;
  --pagination-neg-margin: calc(var(--hero-padding-b) - 2.5rem);
  --pagination-neg-margin-sm: calc(var(--hero-padding-b-sm) - 2rem);
}

@theme inline {
  --color-background: var(--background);
  --color-accent-one: var(--accent-one);
  --font-blanka: var(--blanka);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-noto-sans: var(--font-noto-sans);
  --text-xxs: 0.625rem;
  --breakpoint-md: 480px;
  --breakpoint-2md: 570px;
  --breakpoint-3md: 800px;
  --breakpoint-lg: 1024px;
  --spacing-hpb: var(--hero-padding-b);
  --spacing-hpb-sm: var(--hero-padding-b-sm);
  --spacing-pnm: var(--pagination-neg-margin);
  --spacing-pnm-sm: var(--pagination-neg-margin-sm);
}

body {
  background-color: var(--background);
  color: white;
}

.scrollable::-webkit-scrollbar {
  height: 0;
}
.custom-bullet {
  width: 1.5rem;
  height: 0.5rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: calc(infinity * 1px);
  position: relative;
  overflow: hidden;
  transition: width 0.3s ease;
  cursor: pointer;
  opacity: 1;
}

.swiper-visible {
  opacity: 0.5 !important;
  border: 4px red solid !important;
}

/* Expand active bullet */
.custom-bullet.swiper-pagination-bullet-active {
  width: 3rem;
}

/* Progress bar inside bullet */
.bullet-progress {
  height: 100%;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background: rgb(43, 127, 255);
}

/* Animate progress on active bullet */
.swiper-pagination-bullet-active .bullet-progress {
  animation: fillProgress 11.1s linear forwards; /* Match autoplay delay */
}

.shine {
  background-image: linear-gradient(
    -55deg,
    transparent 40%,
    rgba(255, 255, 255, 0.05),
    transparent 60%
  );
  background-size: 400% 400%;
  animation-duration: 3.5s;
  animation-name: shine-animation;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.75, 0.82, 0.165, 1);
}

@keyframes shine-animation {
  0% {
    background-position: 0% 50%; /* Start position */
  }
  50% {
    background-position: 100% 50%; /* Middle position */
  }
  100% {
    background-position: 0% 50%; /* End position (loops back to start) */
  }
}

@keyframes fillProgress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
