@import "tailwindcss";

:root {
  --background: rgb(11, 17, 31);
  --card-background: rgb(6, 9, 17);
  --foreground: rgb(23, 23, 23);
  --accent-one: rgb(225, 29, 72);
  --accent-two: rgb(56, 189, 248);
  --accent-two-trans: rgba(56, 189, 248, 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-card-background: var(--card-background);
  --color-foreground: var(--foreground);
  --color-accent-one: var(--accent-one);
  --color-accent-two: var(--accent-two);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
}

body {
  background-color: var(--background);
  color: white;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border: solid 1px;
  animation-fill-mode: forwards;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-name: nav-link;
}

.button-shadow {
  box-shadow: 0px 0px 30px 2px rgba(56, 189, 248, 0.2);
}

.scrollable::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent; /* track color */
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #888; /* scrollbar color */
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #555; /* hover color */
}

.mini-carrousel::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

@keyframes nav-link {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes sliding-text {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
