@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: #171717;
  --accent-one: #e11d48;
  --accent-two: #38bdf8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-one: var(--accent-one);
  --color-accent-two: var(--accent-two);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
}

body {
  background-color: var(--background);
  color: white;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border: solid 1px var(--accent-one);
  animation-fill-mode: forwards;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-name: nav-link;
}

.shadow-ve {
  box-shadow: 0px 0px 30px 2px rgba(56, 189, 248, 0.2);
}

@keyframes nav-link {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}
